$delete-button-background: #f44;
$delete-button-hover-background: #f00;
$delete-button-foreground: #fff;

.item {
  align-items: center;
  display: flex;
  margin: 4px 0;
}

.item__done {
  height: 32px;
  margin: 0 8px;
  width: 32px;
}

.item__title {
  font-size: 1em;
  width: 100%;
}

.item__title--done {
  text-decoration: line-through;
}

.item__delete {
  background-color: $delete-button-background;
  border: 0;
  border-radius: 4px;
  color: $delete-button-foreground;
  font-size: 1em;
  font-weight: 900;
  height: 32px;
  margin: 0 8px;
  transition: background-color;
  transition-duration: $transition-duration;
  width: 48px;

  &:hover {
    background-color: $delete-button-hover-background;
    cursor: pointer;
  }
}
